$ruler: 16px;
$color-red: #AE1100;
$color-bg: #EBECF0;
$color-shadow: #BABECC;
$color-white: #FFF;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e1cccc !important;
}

.form1 {
    align-items: center;
    min-height: 100vh;

}
.openpopup{
    display: flex;
    justify-content: flex-end;
    margin: 35px;
}
form {
    border-radius: 52px;
    background: #e1cccc;
    box-shadow: 22px 22px 37px #c6b4b4,
        -22px -22px 37px #fce4e4;
    padding: 40px;
    width: $ruler*40;
    margin-left: 14px;
    transition: all 0.3s ease-in-out;

    .form-control-plaintext,
    .form-control {
        margin-bottom: 22px;
        padding-left: 14px;
        margin-right: $ruler/2;
        box-shadow: 2px 2px 5px $color-shadow, -5px -5px 10px #e1cccc;
        // width: 100%;
        box-sizing: border-box;
        transition: all 0.2s ease-in-out;
        appearance: none;
        -webkit-appearance: none;
        border-radius: 50px;

        &:focus {
            box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px #e1cccc;
            border: 0.5px solid #e1cccc;
        }

        &:focus-visible {
            border: 0.5px solid #e1cccc;
        }
    }

}

.hide{
  display: none;
}

.form2 {
    position: absolute;
    top: 15px;
    right: 15px;
    .values{
        display: flex;
        width: 100%;
        margin-top: 35px;
    }
}
.form1move{
    display: flex;
}
.cross{
    cursor: pointer;
    float: right;
}


